td,th{
  		text-align: center;
}

th{
  		font-size: 17px;
  		color:#6C0A0A;
}

td{
  		color:gray;
  		font-family: tahoma;
  		font-weight: bold;
}

#p_ordering_msg,#span_ordering_msg{
	font-weight: bold;
	font-family: tahoma;
}
#p_ordering_mg{
	color:blue;
}
#span_ordering_msg{
	color:red;
}
#h1_head{
      color:green;
}


