<!DOCTYPE html>
<html>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
<style type="text/css">
	.container{

	}
</style>
<body>

<!-- <div ng-app="myApp" ng-controller="myCtrl"> 

<p>Today's welcome message is:</p>

<h1>{{myWelcome}}</h1>

</div> -->
<center>
<h1>
	Line chart
</h1>

<h3 style="color:red">{{ error|safe }}</h3>
</center>
<!-- {% for item in sensors %}
	<a role="button" class="btn btn-success" target="_blank" href="/google_map/dynamic/{{ item.latitude }}/{{ item.longitude }}/">{{ item.device_loc }}</a>&nbsp;&nbsp;
{% endfor %} -->
<div class="container">
	<canvas id="myChart"></canvas>
</div>
<br>
<br>
<div id="googleMap" style="width:100%;height:400px;"></div>
<br>
<br>
<hr>
<script>
// var app = angular.module('myApp', []);
// app.controller('myCtrl', function($scope, $http) {
//   $http.get("")
//   .then(function(response) {
//       $scope.myWelcome = response.data;
//   });
// });
</script>
<script>
	// $.ajax({
	// 	// url:"http://filtron.pythonanywhere.com/api-view/lora-evk-sensors/1/",
	// 	url:"http://127.0.0.1:8000/lora-evk-sensors/",
	// 	dataType:"json",
	// }).done(function(result){
	// 	console.log(result);
		var ctx = document.getElementById("myChart").getContext("2d");


		// labels = []
		// data_list = [] //array of objects 
		// door_status = []
		// gps_status = []
		// latitude = []
		// longitude = []

		// for (var i=0;i < result.length;i++)
		// {
		// 	door_status.push(result[i]["door_status"])
		// 	gps_status.push(result[i]["gps_status"])
		// 	latitude.push(result[i]["latitude"])
		// 	longitude.push(result[i]["longitude"])

			/*Area to add links dynamically*/
				// var a = document.createElement("a");
				// var text = document.createTextNode("View Map");
				// a.appendChild(text);
				// a.title = "map";
				// a.href="/google_map/dynamic/12.9538477/-77/"
				// a.href="/google_map/dynamic/{{ obj.latitude }}/{{ obj.longitude}}/"

				// document.body.appendChild(a)
			/*Area to add links dynamically ended*/
		// }

		// for (var i=0;i<result.length;i++){
		// 	// labels.push()
		// 	data_list.push({label:result[i]["device_id"],
		// 				data:[result[i]["door_status"],
		// 				result[i]["gps_status"],
		// 				result[i]["latitude"],
		// 				result[i]["longitude"],
		// 				]})
		// }

		// console.log("List of door status")
		// console.log(door_status)
		// console.log(gps_status)
		// console.log(latitude)
		// console.log(longitude)

		// console.log("final data list \n",data_list)
		var myChart = new Chart(ctx,{
			type:"line",
			data:{
				// labels:["Door status","GPS status","Lattitude","Longitude","Movement status","dopen_freq", "rel_humidity","reporting_inter","switch1 status","switch2 status","temperature"],
				labels:["Door status","GPS status","Lattitude","Longitude"],
				datasets:[
					{
						label:"Device1",
						// data:[1,0,37.422,-120.4847]
						data:[{{obj.door_status}}, {{obj.gps_status}},{{obj.latitude}},{{obj.longitude }}]
					}
				]
				// datasets:[1,2,3,4]

				
			}
		});
	// });
</script>
<script>
function myMap() {
var mapProp= {

    center:new google.maps.LatLng({{ obj.latitude }},{{ obj.longitude }}),
    // center:new google.maps.LatLng(37.9691101,122.5864868),
    // center:new google.maps.LatLng(12.9538477,77.3507394),
    zoom:5,
};

var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
var marker = new google.maps.Marker({position:mapProp["center"]});
marker.setMap(map);
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxuu4z6bKGrYSF_Lpw604s-RYwgVRQP0E&callback=myMap"></script>
</body>
</html>