<!DOCTYPE html>
<html>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
  <style type="text/css">
    h2{
      color: lightgreen;
    }
    p{
      color: blue;
    }
    h2,p{
      text-align: center;
    }
    h1{
      color:white;
    }
    th{
      font-size: 20px;
      background-color: #64453F;
    }
    td{
      font-size: 15px;
    }
    td:nth-child(even){
      background-color: gray;
            color:white;
    }
    td:nth-child(odd){
      background-color: pink;

    }
    th{
      font-weight: bolder;
      color:white;
    }
    td{
      font-weight: bold; 
    }
    body{
     background-color:black;
    }
    p{
      color: pink;
    }
    #a_link{
      color: lightblue;
    }
  </style>
<body>
   
<nav class="navbar navbar-default navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Filtron</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        
      {% url 'image_posts' as pics %}
      {% url 'auth_users' as auth_users %}
      {% url 'registration' as register %}
      {% url 'post_a_new_image' as post_a_new_image %}
      {% url 'line_charts' as line_chart %}
      {% url 'bar_charts' as bar_chart %}
      {% url 'polar_area_charts' as polar_area_chart %}

      <ul class = "nav navbar-nav">
        <li {% if request.path == pics %} class = "active" {% endif %}><a href = "/pyapp/image-posts/">Pics</a></li>
        <li {% if request.path == line_chart %} class = "active" {% endif %}><a href = "/pyapp/chartjs/line-charts/">Line charts</a></li>
        <li {% if request.path == bar_chart %} class = "active" {% endif %}><a href = "/pyapp/chartjs/bar-charts/">Bar charts</a></li>
        <li {% if request.path == polar_area_chart %} class = "active" {% endif %}><a href = "/pyapp/chartjs/polar-area-charts/">Polar area charts</a></li>
        <li {% if request.path == auth_users %} class = "active" {% endif %}><a href = "/pyapp/auth-users/">Users</a></li>
        <li {% if request.path == post_a_new_image %} class = "active" {% endif %}><a href = "/pyapp/image-posts/new/">New Post</a></li>
      <li {% if request.path == "/api/auth-users/" %} class = "active" {% endif %}><a href = "/api/auth-users/" target="_blank">API View</a></li>
        <li {% if request.path == "api/angularjs/users/" %} class = "active" {% endif %}><a href = "/api/angularjs/users/" target="_blank">Angular API View</a></li>
        <li {% if request.path == "/math-students/" %} class = "active" {% endif %}><a href = "/math-students/" target="_blank">Math Pie chart</a></li>
        {% url 'registration' as registration %}
        
        {% if signup_url %}
        <li {% if request.path == registration %} class = "active" {% endif %}><a href = "/pyapp/register/"><span class="glyphicon glyphicon-user"></span> {{ signup_url }}</a></li>
        {% endif %}
         
      </ul>
        <ul class="nav navbar-nav navbar-right">
        <!--Registration URL-->

        <!--Login URL-->
        {% url 'login' as login %}
        {% if login_url %}
        <li {% if request.path == login %} class = "active" {% endif %}><a href = "/pyapp/register/"><span class="glyphicon glyphicon-log-in"></span> {{ login_url }}</a></li>
        {% endif %}

        <!--Logout URL-->
        {% url 'logout' as logout %}
        {% if logout_url %}
        <li {% if request.path == logout %} class = "active" {% endif %}><a href = "/pyapp/register/"><span class="glyphicon glyphicon-log-out"></span>  {{ logout_url }}</a></li>
        
        {% endif %}
      </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<div class="container" ng-app="myApp" ng-controller="myCtrl" >
  <center><a href="{% url 'sensor_desc' %}" id="a_link">Sensor details</a></center>
  <h2>Registered Users</h2>
  <p>Everything that teaches you something is your teacher</p>       <hr>     
  <table class="table table-hover">
    <thead>
      <tr>
        <th>User id</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Age</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="x in myData">
      <!-- <td>{{ x.id }} </td> 
      <td>{{ x.firstname }} </td> 
      <td> {{ x.lastname }} </td>
      <td>{{ x.age }} </td> -->
      <td>{% verbatim %} {$ x.id $} {% endverbatim %}</td> 
      <td>{% verbatim %} {$ x.firstname $} {% endverbatim %}</td> 
      <td>{% verbatim %} {$ x.lastname $} {% endverbatim %}</td>
      <td>{% verbatim %} {$ x.age $} {% endverbatim %}</td>
      <td>{% verbatim %} {$ x.country $} {% endverbatim %}</td>
    </tr>
    </tbody>
  </table>
  <br>
  <h1>Users : Line chart</h1>
   <canvas id="myChart2"></canvas>
  <br>
  <<!-- h1>Fruits : Line chart</h1>
  <canvas id="myChart"></canvas>
  <br> -->
  
<script>
<!--

var app = angular.module('myApp', []).config(function($interpolateProvider) {
    $interpolateProvider.startSymbol('{$');
    $interpolateProvider.endSymbol('$}');
});
app.controller('myCtrl', function($scope, $http) {
  // $http.get("http://127.0.0.1:8000/auth-users/").then(function (response) {
      //$http.get("http://127.0.0.1:8000/api/auth-users/").then(function (response) {
       $http.get("http://filtron.pythonanywhere.com/api/auth-users/").then(function (response) {
      $scope.myData = response.data;
      console.log("Great App Users");
      console.log(response.data);
  });
});

var jsonData = $.ajax({
    url: 'http://filtron.pythonanywhere.com/api/auth-users/',
    //url:'http://127.0.0.1:8000/api/auth-users/',
    dataType: 'json',
  }).done(function (results) {
      console.log("Fine brothers in the world");
      console.log(results);
      console.log("Drop someone while going somewhere");
      console.log(results[0]);
      firstnames = [];
      ages = []
      countries = []
      for (var i=0;i<results.length;i++){
        console.log("Details of Object "+(i+1));
        console.log(results[i]["firstname"]);
        firstnames.push(results[i]["firstname"]);
        ages.push(results[i]["age"]);
        countries.push(results[i]["country"]);
      }
      console.log("All firstnames :-");
      console.log(firstnames)
      console.log(ages)
      console.log(countries)
          //Chart js code
          var ctx2 = document.getElementById("myChart2").getContext("2d");
          var myChart2 = new Chart(ctx2,{
              type:"line",
              data:{
                labels:firstnames,
                datasets:[
                      {
                        label:"age",
                        data:ages,
                        backgroundColor:"rgba(158, 141, 141  ,0.5)"
                      },
                      {
                        label:"age",
                        data:ages,
                        backgroundColor:"rgba(254, 209, 209,0.5)"
                      },
                      // {
                      //   label:"country",
                      //   data:countries,
                      //   backgroundColor:"#C8B3AF"
                      // }
                  ],
                options: {
                    title: {
                        display: true,
                        text: 'My Users Chart',
                        fontColor:"navy"
                    }
                }
              }
          });
          //Char js code ends
  })
//-->
</script>
<!-- <script type="text/javascript">
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: ['M', 'T', 'W', 'T', 'F', 'S', 'S'],
    datasets: [{
      label: 'apples',
      data: [12, 19, 3, 17, 6, 3, 7],
      backgroundColor: "rgba(153,255,51,0.4)"
    }, {
      label: 'oranges',
      data: [2, 29, 5, 5, 2, 3, 10],
      backgroundColor: "rgba(255,153,0,0.4)"
    }]
  }
});
</script> -->
</body>
