{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Update Sensor details</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>

  <style type="text/css">
  	.control-label{
  		color:green;
  		font-weight: bold;
  		font-family: helvetica;
  		margin-top: 20px;
  	}
  	h1,h5{
  		text-align: center;
  	}
    h3{
      color:green;
    }
    h5{
      color:navy;
      font-weight: bold;
    }
    #h5_empty_db{
      color:gray;
    }
  </style>
</head>
<body>
  
<div class="container">
		<h1>API<h2>
		<h5>Detail, Create, Update, Delete | <a target="_blank" href="/view/chart-view/">Chart view</a> | <a target="_blank" href="/sensor-desc/">Sensor description</a>  </h5>
		
		<hr>
  		<div class="row">
        
        <div class="col-md-12 text-center">
        {% if obj|length > 0 %}
            <h3>Create View</h3>
            
            
            <a target="_blank" rol="button" class="btn btn-success" href="/view/lora-evk-sensors/create/new/">Go &raquo;</a><hr>
        </div>
        <hr>
  			<div class="col-md-12 text-center">
            <h3>Detail View</h3>
           
					 {% for item in obj %}
              <a target="_blank" href="{{ item.get_absolute_url }}"> {{ item.device_id }}- {{ item.device_loc}}</a><hr>
           {% endfor %}
  			</div>
        <hr>
        <div class="col-md-12 text-center">
            <h3>Update View</h3>
           
           {% for item in obj %}
              <a target="_blank" href="{{ item.get_update_url }}"> {{ item.device_id }}- {{ item.device_loc}}</a><hr>
           {% endfor %}
        </div>
        <hr>
        <div class="col-md-12 text-center">
            <h3>Delete View</h3>
           
           {% for item in obj %}
              <a target="_blank" href="{{ item.get_delete_url }}"> {{ item.device_id }}- {{ item.device_loc}}</a><hr>
           {% endfor %}
        </div>
        <hr>  
        {% else %}
            <h5 id="h5_empty_db">No data is in DB</h5>
            <a target="_blank" rol="button" class="btn btn-success" href="/view/lora-evk-sensors/create/new/">Create &raquo;</a><hr>
        {% endif%} 
</div>
<br>
</body>
</html>
