{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Update Sensor details</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>

  <style type="text/css">
  	.control-label{
  		color:green;
  		font-weight: bold;
  		font-family: helvetica;
  		margin-top: 20px;
  	}
  	h1,h3{
  		text-align: center;
  	}
  </style>
</head>
<body>
  
<div class="container">
		<h1>Delete <h2>
		<h3><span class="text-info">deleting device details</span></h3>
		<center><a target="_blank" href="/">Home</a></center>
     <center><a href="/view/">View's home</a></center>
		<hr>
  		<div class="row">
    
  			<div class="col-md-12 text-center">
          
					<form action="" method="post" >{% csrf_token %}
					    <p class="text-danger">Are you sure you want to delete <span class="text-info">{{ object }} </span>?</p>
					    <input type="submit" value="Confirm" class="btn btn-danger"/>
					</form>
  			</div>
</div>
  		</div>      
</div>
<br>
</body>
</html>
