<!DOCTYPE html>
<html>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.bundle.js"></script> -->
  <style type="text/css">
    h2{
      color: lightgreen;
    }
    p{
      color: blue;
    }
    h2,p{
      text-align: center;
    }
    h1{
      color:white;
    }
    th{
      font-size: 20px;
      background-color: #64453F;
    }
    td{
      font-size: 15px;
    }
    td:nth-child(even){
      background-color: gray;
            color:white;
    }
    td:nth-child(odd){
      background-color: pink;

    }
    th{
      font-weight: bolder;
      color:white;
    }
    td{
      font-weight: bold; 
    }
    body{
     /*background-color:#371E1E;*/
    }
    p{
      color: pink;
    }
    #a_link{
      color: lightblue;
    }
  </style>
<body>

<nav class="navbar navbar-default navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Filtron</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        
      {% url 'image_posts' as pics %}
      {% url 'auth_users' as auth_users %}
      {% url 'registration' as register %}
      {% url 'post_a_new_image' as post_a_new_image %}
      {% url 'line_charts' as line_chart %}
      {% url 'bar_charts' as bar_chart %}
      {% url 'polar_area_charts' as polar_area_chart %}

      <ul class = "nav navbar-nav">
        <li {% if request.path == pics %} class = "active" {% endif %}><a href = "/pyapp/image-posts/">Pics</a></li>
        <li {% if request.path == line_chart %} class = "active" {% endif %}><a href = "/pyapp/chartjs/line-charts/">Line charts</a></li>
        <li {% if request.path == bar_chart %} class = "active" {% endif %}><a href = "/pyapp/chartjs/bar-charts/">Bar charts</a></li>
        <li {% if request.path == polar_area_chart %} class = "active" {% endif %}><a href = "/pyapp/chartjs/polar-area-charts/">Polar area charts</a></li>
        <li {% if request.path == auth_users %} class = "active" {% endif %}><a href = "/pyapp/auth-users/">Users</a></li>
        <li {% if request.path == post_a_new_image %} class = "active" {% endif %}><a href = "/pyapp/image-posts/new/">New Post</a></li>
       <li {% if request.path == "/api/auth-users/" %} class = "active" {% endif %}><a href = "/api/auth-users/" target="_blank">API View</a></li>
        <li {% if request.path == "api/angularjs/users/" %} class = "active" {% endif %}><a href = "/api/angularjs/users/" target="_blank">Angular API View</a></li>
        <li {% if request.path == "/math-students/" %} class = "active" {% endif %}><a href = "/math-students/" target="_blank">Math Pie chart</a></li>
        {% url 'registration' as registration %}
        
        {% if signup_url %}
        <li {% if request.path == registration %} class = "active" {% endif %}><a href = "/pyapp/register/"><span class="glyphicon glyphicon-user"></span> {{ signup_url }}</a></li>
        {% endif %}
         
      </ul>
        <ul class="nav navbar-nav navbar-right">
        <!--Registration URL-->

        <!--Login URL-->
        {% url 'login' as login %}
        {% if login_url %}
        <li {% if request.path == login %} class = "active" {% endif %}><a href = "/pyapp/register/"><span class="glyphicon glyphicon-log-in"></span> {{ login_url }}</a></li>
        {% endif %}

        <!--Logout URL-->
        {% url 'logout' as logout %}
        {% if logout_url %}
        <li {% if request.path == logout %} class = "active" {% endif %}><a href = "/pyapp/register/"><span class="glyphicon glyphicon-log-out"></span>  {{ logout_url }}</a></li>
        
        {% endif %}
      </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<!---->

<!---->

<div class="container">
<center><a role="button" class="btn btn-info" href = "/api/student/mathematics/" target="_blank">Add result for a student </a></center><br>
<canvas id="myChart"></canvas>
</div>

<!---->

<!---->

<br>
<center><h4><a role="button" class="btn btn-success" href = "/api/student/mathematics/" target="_blank" class="btn btn success" >Add results for a student </a></h4></center><br>
<div class="container">
<canvas id="myChart2"></canvas>
</div>
<script type="text/javascript">
  
  var jsonData = $.ajax({
    // url: 'http://filtron.pythonanywhere.com/api/auth-users/',
    // url:'http://127.0.0.1:8000/api/auth-users/',
    //url:"http://127.0.0.1:8000/api/student/mathematics/",
    url:"http://filtron.pythonanywhere.com/api/student/mathematics/",
    dataType: 'json',
  }).done(function (results) {
      console.log("Math is great");
      console.log(results);
      console.log("Drop someone while going somewhere");
      console.log(results[0]);

      firstnames = []
      mathematics_marks = []
      physics_marks = []
      hindi_marks = []
      chemistry_marks = []
      english_marks = []
      environment_marks = []
      for (var i=0;i<results.length;i++){
        console.log("Details of Object "+(i+1));
        console.log(results[i]["firstname"]);
        firstnames.push(results[i]["firstname"]);
        mathematics_marks.push(results[i]["mathematics"]);
        physics_marks.push(results[i]["physics"]);
        chemistry_marks.push(results[i]["chemistry"])
        hindi_marks.push(results[i]["hindi"])
        english_marks.push(results[i]["english"])
        environment_marks.push(results[i]["environment"])
        // ages.push(results[i]["age"]);
        // countries.push(results[i]["country"]);
      }
      console.log("All fullnames :-");
      console.log(firstnames)
      console.log("Other data:-")
      console.log(mathematics_marks)
      console.log(physics_marks)
      console.log(chemistry_marks)
      console.log(hindi_marks)
      console.log(english_marks)
      console.log(environment_marks)
         //Creating data_set
         data_array = []
         colorArr = ["rgba(0,0,255,0.4)","rgba(173, 0, 13 ,0.5)","rgba(192,13,13)","rgba(25, 7, 7  ,0.3)","rgba(19, 36, 204,0.4)","rgba(132, 157, 54,0.4)",]
         var k = 0
         for (var i=0;i<firstnames.length;i++){
            if (colorArr.length==k){
              k=0
            }
            data_array.push({label:firstnames[i],data:[mathematics_marks[i],physics_marks[i],chemistry_marks[i],hindi_marks[i],english_marks[i],environment_marks[i]],backgroundColor:colorArr[k]})
            k=k+1;
         }
         console.log("Data array")
         console.log(data_array)
          //Chart js code (Bar chart)
          var ctx = document.getElementById("myChart").getContext("2d");
          var myChart = new Chart(ctx,{
              type:"bar",
              data:{
                // labels:firstnames,
                labels:["mathematics","physics","chemistry","hindi","english","environment"],
                datasets:data_array,
                // datasets:[
                //       {
                //         label:"mathematics",
                //         data:mathematics_marks,
                //         backgroundColor:"rgba(158, 141, 141  ,0.5)"
                //       },
                //       {
                //         label:"physics",
                //         data:physics_marks,
                //         backgroundColor:"rgba(254, 209, 209,0.5)"
                //       },
                //        {
                //         label:"chemistry",
                //         data:chemistry_marks,
                //         backgroundColor:"rgba(15, 1, 141  ,0.5)"
                //       },
                //        {
                //         label:"hindi",
                //         data:hindi_marks,
                //         backgroundColor:"rgba(1, 14, 11  ,0.5)"
                //       }
                //   ],
                options: {
                    title: {
                        display: true,
                        text: 'My Users Chart',
                        fontColor:"navy"
                    }
                }
              }
          });
          //Char js code ends

          //Chart js code(Line chart)
          var ctx2 = document.getElementById("myChart2").getContext("2d");
          var myChart2 = new Chart(ctx2,{
              type:"line",
              data:{
                labels:["mathematics","physics","chemistry","hindi","english","environment"],
                datasets:data_array,
                options: {
                    title: {
                        display: true,
                        text: 'My Users Chart',
                        fontColor:"navy"
                    },
                      scales:{
                        yAxes:[
                          {
                            display:true,

                            ticks:{
                              suggestedMin: 0, 
                              beginAtZero:true
                            }
                          }
                        ]
                      }

                }
              }
          });
  })
//-->
</script>
</script>
</body>
