{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
Home | Filtron
{% endblock %}

{% block css_block %}
	<link rel="stylesheet" type="text/css" href="{% static 'py_app/css/home.css' %}">
{% endblock %}

{% block content %}
<center>
<a href="/pyapp/image-posts/">Image posts</a><hr>
<a href="/pyapp/register/">Register</a><hr>
<a href="/pyapp/auth-users/">Authenticated users</a><hr>
<a href="/pyapp/image-posts/new/">Post new images</a><hr>
</center>
{% endblock %}