{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Registration | Filtron
{% endblock %}

{% block content %}
 	<div class="col-md-offset-3" style="margin-right: 25%">
 	<form action='' method="POST">{% csrf_token %}
 	{{ form | crispy }}
 	<input type="submit" value='Submit' class="btn btn-primary">
 	</form>
 	</div>
 	<center><a href='/pyapp/login/'>Already have an account</a><center>
{% endblock %}