{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

  {% block css_block %}

      <style>
      body{
      background-color:rgba(0,200,0,0.1);
      }
      </style>
  {% endblock %}


{% block content %}
<div class="row">
  <div class="col-sm-12">
    <form action="/pyapp/well-docs/" class="form-inline" method="GET">{% csrf_token %}
    <div class="form-group">
        <input type="text" name="q"  value="{{request.GET.q}}" class="form-control" placeholder="Search new articles">
      </div>
    <input type="submit"  role="button" class="btn btn-primary" value="Search">
    </form>

  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-12">
    <div class="thumbnail">
      {% if post.image %}
      <img src="{{post.image.url}}" class="img-responsive" alt="{{ post.title}}">
      {% else %}
      <img src="{% static 'py_app/img/ecommerce.jpg' %}"  class="img-responsive"  alt="{{ post.title}}">
      {% endif %}
      <div class="caption">
        <h3 style='color:green'>{{ post.title }} <small> {{post.created|timesince}} ago </small></h3>
        <h5 style="color:navy">
       
   
               <hr>

        <!-- <h5 style="color:#785D27;font-family: tahoma;background-color: rgba(255,255,25,0.2);padding-bottom: 10px;padding-top: 10px;padding-left: 10px;">{{ post.description|linebreaks|safe}}</h5> -->
        <!-- <pre class="prettyprint" style="margin: 0px;font-family: 'Open sans'"> -->
        <pre class="prettyprint" style="margin: 0px;font-family:'Open sans'">
        {{ post.description|linebreaks}}

        </pre>
        <hr>

         {% if post.profile_image %} 
          
          <img src="{{post.profile_image.url}}" style="display: inline-block;" class="img-responsive img-circle" width="70px"/> 
        {% else %}
          <img src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/profle-512.png" class="img-responsive" width="70px" style="display: inline-block;"/> 
        {% endif %}
        <span style="color:gray;font-weight: bold;font-family: helvetica"><br><span class="glyphicon glyphicon-user"></span> {{post.posted_by}}<br><span class="glyphicon glyphicon-book"></span> Posted: {{post.created}}</span><br><br>
        <div class="fb-like" data-href="{{ post.build_absolute_uri }}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
        <hr>
        <div class="fb-comments" data-width="100%" data-href="{{ post.build_absolute_uri }}" data-numposts="5"></div>
      </div>

       
      </div>
    </div>
  <hr>
</div>
<center><a href="/">Home</a></center>
<center><small>rishikesh0014051992@gmail.com</small></center>
<br>
{% endblock %}


